.typography {
  flex: 1;
  width: 0;
  font-size: 16px;
  word-break: break-all;
  &.dark {
    color: #fff;
  }

  .syntax {
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  pre {
    box-sizing: border-box;
    width: fit-content;
    max-width: 100%;
    overflow: auto;
  }

  .code {
    display: inline-block;
    font-family: LXGW WenKai Screen, LXGW WenKai Screen R, sans-serif;
    border-radius: 3px;
    height: 20px;
    padding: 0px 4px;
    line-height: 20px;
    background: #dbdbe6;
  }

  .blockcode {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 8px;
    border-radius: 4px;
    font-family: 'LXGW WenKai Screen', 'LXGW WenKai Screen R', sans-serif;
  }

  & > p:first-child {
    margin-top: 2px;
  }

  & > p:last-child {
    margin-bottom: 6px;
  }
}

.usercontent {
  white-space: pre-wrap;
  padding: 3px 0px;
}

.msg-item {
  border-bottom: 1px solid rgba(137, 137, 137, 0.5);
  padding: 20px 5%;
  position: relative;
  display: flex;
  align-items: flex-start;
  column-gap: 16px;
}

@width: 18px;

.selfavatar {
  width: 28px;
  height: 28px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .inneravatar {
    width: @width;
    height: @width;
    border-radius: 50%;
  }
}

.time {
  position: absolute;
  font-size: 12px;
  top: 2px;
  opacity: 0.1;
}